<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<nav th:replace="fragments/head :: head(title='HOME')"></nav>

<body>

<!-- Navigation -->
<nav th:replace="fragments/navbar :: navbar"></nav>

<!-- Page Header -->
<header th:replace="fragments/header :: header(title='Blog of posts',subtitle='by JK')"></header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto" th:each="post: ${posts}">
            <div class="post-preview">
                <a th:href="@{'/post&' + ${post.getPostId()}}">
                    <h2 class="post-title" th:text="${post.getTitle()}"></h2>
                    <h3 class="post-subtitle" th:text="${post.getCategory()}"></h3>
                </a>
                <p class="post-meta">Posted by
                    <a th:href="@{'/user&'+${post.getAuthor().getUserId()}}" th:text="${post.getAuthor().getEmail()}"></a>
                    on <span th:text="${#temporals.format(post.getAddedDate(), 'dd.MM.yyyy HH:mm')}"></span></p>
                <div class="clearfix" th:if="${isAuth!='' && (isAdmin || post.getAuthor().getEmail()==isAuth)}">
                    <a th:href="@{'/post&edit&'+${post.getPostId()}}" class="btn btn-primary float-right">EDIT</a>
                    <form th:action="@{'/post/delete'}" th:method="delete">
                        <input type="hidden" th:name="postId" th:value="${post.getPostId()}">
                        <input class="align-middle mt-2 btn btn-primary mr-2 ml-2" type="submit" value="DELETE">
                    </form>
                </div>
            </div>
            <hr>
            <!-- Pager -->
            <div class="clearfix">
<!--                <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>-->
            </div>
        </div>
    </div>
</div>

<hr>
<div class="container" th:if="${isAuth!=''}">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <form th:action="@{/addpost}" th:method="post" th:object="${newpost}">
                <div class="form-group">
                    <input class="form-control" th:type="text" th:field="*{title}" placeholder="title">
                    <p th:errors="*{title}">error</p>
                    <textarea class="form-control" th:type="text" th:field="*{content}" placeholder="content"></textarea>
                    <p th:errors="*{content}">error</p>
                    <select class="form-control" th:field="*{category}">
                        <option th:each="c: ${categories}" th:text="${c}" th:value="${c}"></option>
                    </select>
                    <input class="align-middle mt-2 btn btn-primary" th:type="submit" th:value="SAVE">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Footer -->
<nav th:replace="fragments/footer :: footer"></nav>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Custom scripts for this template -->
<script src="js/clean-blog.min.js"></script>

</body>

</html>
